@import "colors";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
// Manrope, 600 & 800

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Manrope", sans-serif;
}

body {
  background-image: url("../images/bg-pattern.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  background-color: $veryPaleBlue;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

header {
  text-align: center;
  padding: 3rem 0;
  line-height: 2rem;
  background-image: url("../images/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: center;
}

main {
  padding: 2rem 1rem;
  background-color: $white;
  border-radius: 10px;
  box-shadow: 3px 3px 20px 3px rgba(0, 0, 0, 0.065);
  width: 90vw;
  margin: 0 auto;

  h4 {
    color: $grayishBlue;
    text-transform: uppercase;
  }

  p {
    color: $grayishBlue;
  }

  .top-section {
    margin-bottom: 3rem;
    text-align: center;

    .price-wrapper-desktop {
      display: none;
    }

    .price-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3%;

      #price {
        font-weight: 800;
        font-size: 2.5rem;
      }
    }

    .slider-wrapper {
      margin: 2rem 0;

      #slider {
        width: 90%;
      }
    }

    .billing {
      margin: 2rem 0;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5%;
      flex-shrink: 5%;

      .switch {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 24px;
      }

      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $lightGrayishBlue2;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 4px;
        background-color: $lightGrayishBlue;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }

      input:checked + .slider {
        background-color: $strongCyan;
      }

      input:focus + .slider {
        box-shadow: 0 0 1px $strongCyan;
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }

      input + .slider:hover {
        background-color: $strongCyan;
      }

      .slider.round {
        border-radius: 34px;
      }

      .slider.round:before {
        border-radius: 50%;
      }

      .discount-wrapper {
        background-color: $lightGrayishRed;
        border-radius: 10px;
        padding: 0 0.5rem;

        #discount {
          color: $lightRed;

          #desktop-discount {
            display: none;
          }
        }
      }
    }
  }

  .bottom-section {
    text-align: center;

    ul {
      list-style: none;
      color: $grayishBlue;

      li {
        margin: 1rem 0;

        img {
          margin-right: 1rem;
          height: 12px;
          width: 12px;
        }
      }
    }

    #trial-start-button {
      font-weight: 800;
      background-color: $darkDesaturatedBlue;
      color: $grayishBlue;
      border: none;
      outline: none;
      border-radius: 200px;
      margin-top: 1rem;
      padding: 1rem 3rem;
      transition: 0.1s ease-in;

      &:hover {
        color: $white;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (min-width: 800px) {
  header {
    line-height: 2.5rem;
    padding: 2rem 0;

    h2 {
      font-size: 2.5rem;
    }
  }

  main {
    max-width: 700px;
    padding: 2rem 3rem;

    .top-section {
      #pageviews-count-mobile {
        display: none;
      }

      .price-wrapper-desktop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;

        .price-display-desktop {
          display: flex;
          align-items: center;
          gap: 10px;
        }

        #price-desktop {
          color: black;
          font-size: 3rem;
          font-weight: 800;
        }

        span {
          color: $grayishBlue;
        }
      }

      .price-wrapper {
        display: none;
      }

      .slider-wrapper {
        #slider {
          width: 100%;
        }
      }

      .billing {
        justify-content: flex-end;

        .discount-wrapper {
          #discount {
            #desktop-discount {
              display: inline;
            }
          }
        }
      }
    }

    .bottom-section {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
